<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Psycopg-3" data-toc-modified-id="Psycopg-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Psycopg 3</a></span></li></ul></div>

# Psycopg 3

In [2]:
#pip install psycopg[binary]

Collecting psycopg[binary]
  Downloading psycopg-3.0.7-py3-none-any.whl (141 kB)
Collecting backports.zoneinfo
  Downloading backports.zoneinfo-0.2.1-cp37-cp37m-win_amd64.whl (38 kB)
Requirement already satisfied: typing-extensions in c:\users\aleks\anaconda3\envs\python_r\lib\site-packages (from psycopg[binary]) (3.10.0.2)
Collecting psycopg-binary==3.0.7
  Downloading psycopg_binary-3.0.7-cp37-cp37m-win_amd64.whl (2.9 MB)
Installing collected packages: backports.zoneinfo, psycopg-binary, psycopg
Successfully installed backports.zoneinfo-0.2.1 psycopg-3.0.7 psycopg-binary-3.0.7
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Note: the module name is psycopg, not psycopg3
import psycopg
import re
import pandas as pd

In [90]:
# function to connect to the DB and to execute a simple query

def query(x):
    
    '''
    The function connects to a DB and executes a simple query.
    Returns 2 lists: columns names, data
    '''
    
    # Connect to an existing database
    with psycopg.connect(host='localhost', dbname='demo', user='postgres', password='0000') as conn:
        
        # Open a cursor to perform database operations
        with conn.cursor() as cur:
            
            # Execute a command (query):
            cur.execute(x)
            
            # Get the columns names
            col_names = re.findall("'([^']*)'", str(cur.description))
            
            return col_names, cur.fetchall()

In [87]:
col_names, data = query('SELECT * FROM flights;')

In [88]:
df = pd.DataFrame(data, columns=col_names)
df

,flight_id,flight_no,scheduled_departure,scheduled_arrival,departure_airport,arrival_airport,status,aircraft_code,actual_departure,actual_arrival
0,1185,PG0134,2017-09-10 06:50:00+00:00,2017-09-10 11:55:00+00:00,DME,BTK,Scheduled,319,NaT,NaT
1,3979,PG0052,2017-08-25 11:50:00+00:00,2017-08-25 14:35:00+00:00,VKO,HMA,Scheduled,CR2,NaT,NaT
2,4739,PG0561,2017-09-05 09:30:00+00:00,2017-09-05 11:15:00+00:00,VKO,AER,Scheduled,763,NaT,NaT
3,5502,PG0529,2017-09-12 06:50:00+00:00,2017-09-12 08:20:00+00:00,SVO,UFA,Scheduled,763,NaT,NaT
4,6938,PG0461,2017-09-04 09:25:00+00:00,2017-09-04 10:20:00+00:00,SVO,ULV,Scheduled,SU9,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...
33116,33117,PG0063,2017-08-02 16:25:00+00:00,2017-08-02 17:10:00+00:00,SKX,SVO,Arrived,CR2,2017-08-02 16:25:00+00:00,2017-08-02 17:10:00+00:00
33117,33118,PG0063,2017-07-28 16:25:00+00:00,2017-07-28 17:10:00+00:00,SKX,SVO,Arrived,CR2,2017-07-28 16:30:00+00:00,2017-07-28 17:15:00+00:00
33118,33119,PG0063,2017-09-08 16:25:00+00:00,2017-09-08 17:10:00+00:00,SKX,SVO,Scheduled,CR2,NaT,NaT
33119,33120,PG0063,2017-08-01 16:25:00+00:00,2017-08-01 17:10:00+00:00,SKX,SVO,Arrived,CR2,2017-08-01 16:26:00+00:00,2017-08-01 17:12:00+00:00
33120,33121,PG0063,2017-08-26 16:25:00+00:00,2017-08-26 17:10:00+00:00,SKX,SVO,Scheduled,CR2,NaT,NaT